{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block title%}Lista!{%endblock%}

{%block main_content%}

	<h1>Listagem</h1>
	
	<div class="row">
		<div class="span12">

			Listagem...

			<table class="table">
				<tr>
					{% for name in names %}
						<th> {{ name }} </th>
					{% endfor %} 
				
				</tr>
				<tr>
					<td>valor 1</td>
					<td>valor 2</td>
					<td>valor 3</td>
					<td>valor 4</td>
					<td>valor 5</td>
					<td>valor 6</td>
				</tr>
				<tr>
					<td>valor 1</td>
					<td>valor 2</td>
					<td>valor 3</td>
					<td>valor 4</td>
					<td>valor 5</td>
					<td>valor 6</td>
				</tr>
				<tr>
					<td>valor 1</td>
					<td>valor 2</td>
					<td>valor 3</td>
					<td>valor 4</td>
					<td>valor 5</td>
					<td>valor 6</td>
				</tr>
				<tr>
					<td>valor 1</td>
					<td>valor 2</td>
					<td>valor 3</td>
					<td>valor 4</td>
					<td>valor 5</td>
					<td>valor 6</td>
				</tr>
			</table>

		</div>
	</div>

{%endblock%}
